:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-text-color: #0f766e;
  --secondary-text-color: #4b5563; /* Using a neutral gray for secondary text for now */
  --link-color: #10b981;
  --link-hover-color: #059669;
  --error-color: #991b1b;
  --error-background-color: #fef2f2;
  --success-color: #065f46;
  --success-background-color: #def7ec;
  --background-color: #f3f4f6;
  --card-background-color: #ffffff;
  --border-color: #e5e7eb;
  --input-border-color: #d1d5db;

  color-scheme: light;
  color: var(--primary-text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-hover-color);
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Prevents double scrollbars */
}
h1 {
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-text-color);
  margin: 0 0 4px 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--link-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
